.login-container {
    background: linear-gradient(to right, #aed8eb, #eae7e6); 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: #b8c1bf; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(143, 57, 57, 0.1);
    width: 500px;
  }
  
  .error {
    color: red;
  }
  