.footer {
  background-color: rgba(232, 231, 231, 0.83); /* Use RGBA color with alpha value */
  color: #2d2d2d; /* Adjusted text color */
  padding: 10px 0; /* Reduced padding */
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9999; /* Set a high z-index value to ensure the footer is on top */
  transition: bottom 0.3s; /* Add smooth transition effect */
}

.footer-content {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  margin-top: 5px; /* Reduced margin */
}

.footer-links a {
  color: #2d2d2d; /* Adjusted link color */
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #211717; /* Adjusted link hover color */
}

